.chartContainer {
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
}

.chartBar {
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 50px;
  margin: 0 5px;
  justify-content: flex-end;
}

.chartBarItem {
  width: 100%;
}
